[submodule "src/MAPL"]
	path = src/MAPL
	url = https://github.com/selingroup/MAPL
[submodule "src/GMAO_Shared"]
	path = src/GMAO_Shared
	url = https://github.com/geoschem/GMAO_Shared
[submodule "ESMA_cmake"]
	path = ESMA_cmake
	url = https://github.com/selingroup/ESMA_cmake
[submodule "src/gFTL-shared"]
	path = src/gFTL-shared
	url = https://github.com/geoschem/gFTL-shared.git
[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/geoschem/FMS.git
[submodule "src/GCHP_GridComp/FVdycoreCubed_GridComp"]
	path = src/GCHP_GridComp/FVdycoreCubed_GridComp
	url = https://github.com/selingroup/FVdycoreCubed_GridComp.git
[submodule "src/GCHP_GridComp/GEOSChem_GridComp/geos-chem"]
	path = src/GCHP_GridComp/GEOSChem_GridComp/geos-chem
	url = https://github.com/selingroup/geos-chem.git
[submodule "src/GCHP_GridComp/HEMCO_GridComp/HEMCO"]
	path = src/GCHP_GridComp/HEMCO_GridComp/HEMCO
	url = https://github.com/selingroup/HEMCO.git
